@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<body>
    <section>
        <h1 class="title">Random Dad Jokes Generator</h1>
        <div class="container">
            <div class="joke">
                <p>Hi</p>
            </div>
            <button>Get a Dad Joke</button>
        </div>
    </section>


    <div class="float-text">
        <p>get in touch</p>
    </div>
    <div class="float-card-info">
        <i class="gg-close-r"></i>
        <p>Hi I am avadhoot</p>
        

    </div>

</body>
